@import "partials/variables";
@import "partials/mixin";
body {
  text-align: center;
  color: $text-color;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & h1 {
    font-size: $mobile-h1;
    margin: 0;
  }
  & h2 {
    font-size: $mobile-h2;
    margin: 0;
    font-weight: normal;
  }
}

//Shared==================

//button
.Button {
  cursor: pointer;
  font-family: $font;
  background-color: $third-color;
  font-size: $mobile-regular;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 3%;
  margin-bottom: 7%;
  transition: 400ms;
  @include shadow;
  &:hover {
    @include hover-shadow;
    transform: scale(1.01);
  }
  &:active {
    transform: scale(0.95);
    @include shadow;
  }

  &:disabled:hover {
    color: #ccc;
    cursor: not-allowed;
    transform: none;
    @include shadow;
  }
}

//Title
.Touch {
  color: $contrast-color;
  background-color: $theme-color;
  padding-top: 17%;
  padding-bottom: 0;
  margin-bottom: 5%;
  height: 70px;
}

// navbar
.Nav {
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  @include hover-shadow;
  z-index: 1000;

  & a {
    @include links;
    color: $text-color;
    display: inline-block;
    margin-bottom: 10px;

    &:after {
      content: "";
      display: block;
      margin: -10px;
      width: 0;
      height: 10px;
      background: $theme-color;
      transition: width 0.3s;
    }

    &:hover:after {
      width: 70%;
    }
    &.active {
      color: $theme-color;
    }
  }
}

//Footer
.Scroll {
  position: absolute;
  left: 50%;
  cursor: pointer;
  padding: 0;
  margin: -40px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background-color: $third-color;
  @include shadow;
  &:hover {
    transform: scale(1.02);
    @include hover-shadow;
  }
}
.Footer {
  background-color: $theme-color;
  padding-top: 15%;
  padding-bottom: 2%;

  li {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }
  p {
    font-size: smaller;
    margin: 0;
    color: $contrast-color;
  }
  a:hover {
    transform: scale(1.1);
  }
}

//Spinner

.Spinner {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  display: block;
  width: 3em;
  height: 3em;
  background-color: $theme-color;
  @include animation(
    "spinner 3s  cubic-bezier(0.75, 0, 0.5, 1) infinite normal"
  );
  @include keyframes(spinner) {
    50% {
      border-radius: 50%;
      transform: scale(0.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  @include shadow;
}

//main page==============
.Main {
  padding: 5%;
  height: 80vh;

  .Title {
    text-align: left;
    margin-top: 20%;
  }
  .Background {
    @include background;
  }
  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    @include animated-card;
  }
  .card1 {
    @include card1;
  }
  .card2 {
    @include card2;
  }
  .card3 {
    @include card3;
  }
  .card4 {
    @include card4;
  }
}

//about me section
.About {
  padding: $page-padding;
  background-color: $theme-color;
  color: $contrast-color;
  & p {
    @include p;
  }
}
//skills section
.Skills {
  background-color: $third-color;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  .Grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.Skills2 {
  padding: $page-padding;
  margin-bottom: 10%;
  h2 {
    color: $theme-color;
  }
  p {
    text-indent: $indent;
    text-align: left;
  }
}

//Contact page===================

//Links
.Contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 10%;
  a {
    font-size: $mobile-h2;
    color: $text-color;
    padding: 2%;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    &:hover {
      color: $theme-color;
    }
  }
}

//Form
.Form {
  background-color: $third-color;
  padding-top: 5%;
  padding-bottom: 10%;
}

.Input {
  width: 80%;
  background-color: $contrast-color;
  margin: auto;
  padding: 1% 5%;
  box-sizing: border-box;
  @include shadow;
}

.InputElement {
  outline: none;
  border: none;
  border-bottom: 5px solid $third-color;
  font: inherit;
  padding-top: 6%;
  display: block;
  width: 100%;
  box-sizing: border-box;
  &::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  &:focus {
    border-bottom: 5px solid $theme-color;
    &::placeholder {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

  &.Invalid {
    border-bottom: 5px solid rgb(154, 5, 5);
  }

  &.TextArea {
    background-color: $third-color;
    height: 150px;
    margin-bottom: 5%;
  }
}

//Portfolio page========================

.Portfolio {
  height: auto;
  & p,
  h2 {
    padding: 0 $page-padding;
    @include p;
  }
  & a {
    margin-left: 1%;
    color: $text-color;
  }
  img {
    height: auto;
    width: 70%;
    margin-bottom: 10%;
  }
}
