@import 'partials/variables';
@import 'partials/mixin';
body {
  text-align: center;
  color: $text-color;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & h1 {
    font-size: $mobile-h1;
    margin: 0;
  }
  & h2 {
    font-size: $mobile-h2;
    margin: 0;
    font-weight: normal;
  }
  @include large-screen {
    & p {
      font-size: large;
    }
  }
}

//Shared==================

//button
.Button {
  cursor: pointer;
  font-family: $font;
  background-color: $third-color;
  font-size: $mobile-regular;
  border: none;
  outline: none;
  padding: 5px;
  transition: 400ms;
  @include shadow;

  &:hover {
    @include hover-shadow;
  }
  &:active {
    @include shadow;
  }

  &:disabled:hover {
    color: #ccc;
    cursor: not-allowed;
    transform: none;
    @include shadow;
  }
  @include large-screen {
    font-size: 20pt;
  }
}

//Title
.Touch {
  color: $contrast-color;
  background-color: $theme-color;
  padding-top: 17%;
  padding-bottom: 0;
  margin-bottom: 5%;
  height: 70px;
  @include large-screen {
    padding-top: 10%;
  }
}

// navbar
.Nav {
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  transform: translateY(0);
  transition: all 0.3s ease;
  &.Hidden {
    transform: translateY(-110%);
  }
  &.ShadowScroll {
    @include shadow;
  }
  @include hover-shadow;
  z-index: 1000;
  @include large-screen {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  & a {
    @include links;
    color: $text-color;
    display: inline-block;

    &:after {
      content: '';
      display: block;
      margin: -0.2em;
      width: 0;
      height: 0.5em;
      background: $theme-color;
      transition: width 0.3s;
    }
    &:hover:after {
      width: 70%;
    }
    &.active {
      color: $theme-color;
    }
  }
}

//Footer
.Scroll {
  position: absolute;
  left: 50%;
  cursor: pointer;
  padding: 0;
  margin: -2.5em;
  margin-left: -2.1em;
  width: 4em;
  height: 4em;
  outline: none;
  border: none;
  background-color: $third-color;
  @include shadow;
  &:hover {
    transform: scale(1.02);
    @include hover-shadow;
  }
  @include large-screen {
    zoom: 1.3;
  }
}
.Footer {
  background-color: $theme-color;
  padding-top: 15%;
  padding-bottom: 2%;

  li {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }
  p {
    font-size: smaller;
    margin: 0;
    color: $contrast-color;
  }
  a:hover {
    transform: scale(1.1);
  }
}

//Spinner

.Spinner {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  display: block;
  width: 3em;
  height: 3em;
  background-color: $theme-color;
  @include animation(
    'spinner 3s  cubic-bezier(0.75, 0, 0.5, 1) infinite normal'
  );
  @include keyframes(spinner) {
    50% {
      border-radius: 50%;
      transform: scale(0.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  @include shadow;
}

//main page==============
.Main {
  overflow: hidden;
  padding: 20px;

  height: 70vh;
  @include large-screen {
    height: 85vh;
  }
  .Title {
    text-align: left;
    margin-top: 20%;
    z-index: 10;
    position: relative;
  }
  .Background {
    @include background;
  }
  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    @include animated-card;
  }
  .card1 {
    @include card1;
  }
  .card2 {
    @include card2;
  }
  .card3 {
    @include card3;
  }
  .card4 {
    @include card4;
  }
  @supports (-moz-appearance: none) {
    .card3 {
      margin-left: 17em;
    }
    .card2 {
      margin-left: -18em;
    }
    .card2,
    .card3 {
      margin-top: 22em;
    }
  }
}

//about me section

//about me background animation
.container {
  z-index: 1;
  position: relative;
  background-color: $theme-color;
  overflow: hidden;
  justify-content: center;
  display: flex;
  &.container-bottom {
    svg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(3);
      @include large-screen {
        transform: scale(1);
      }
    }
  }
  @include large-screen {
    .container {
      height: 60vh;
    }
  }
}

.parallax {
  > use {
    animation: move-forever 1s linear infinite;
    //back
    &:nth-child(1) {
      animation-delay: -8s;
      animation-duration: 8s;
    }
    &:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 8s;
    }
    &:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 8s;
    }
    &:nth-child(4) {
      animation-delay: 1s;
      animation-duration: 8s;
    }
  }
  @keyframes move-forever {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translateY(5px);
    }
  }
}

#layer {
  filter: drop-shadow(0 0 0.2mm #1e064b);
}
//about me background animation ends

.About {
  z-index: 33;
  padding: $page-padding;
  color: $contrast-color;
  .profilePicture {
    display: none;
  }
  section {
    position: relative;
    z-index: 1;
    max-width: 600px;
  }
  & p {
    @include p;
  }
  @include large-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .profilePicture {
      display: block;
      width: 20em;
    }
    padding-bottom: 0;
    min-height: 25em;
    section {
      width: 45%;
    }
  }
}
//skills section
.Skills {
  background-color: $third-color;
  margin-bottom: 20px;
  padding: $page-padding;
  & img {
    user-select: none;
    pointer-events: none;
    width: 40px;
    margin-bottom: 10px;
  }
  & .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: auto;
    p {
      margin-top: 0;
    }
  }
}

.Skills2 {
  .SkillsInfo {
    padding: $page-padding;
    max-width: 75%;
    margin: auto;
    margin-bottom: 100px;
    h2 {
      color: $theme-color;
      margin: auto;
    }
    p {
      @include p;
    }
    @include large-screen {
      display: flex;
      justify-content: space-between;
      @include back-image('../Assets/Working.svg', 20em, center);
      & section {
        width: 20em;
      }
      & h2 {
        width: 5em;
      }
    }
  }
}

//Contact page===================

//Links
.Contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 10%;
  a {
    font-size: $mobile-h2;
    color: $text-color;
    padding: 2%;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    &:hover {
      color: $theme-color;
    }
  }
  @include large-screen {
    margin-bottom: 5%;
    @include back-image('../Assets/Message.svg', contain, center);
    & a {
      font-size: $screen-h2;
      padding: 1%;
    }
  }
}

//Form
.Form {
  background-color: $third-color;
  padding-top: 70px;
  padding-bottom: 100px;
  @include large-screen {
    min-height: 400px;
  }
}

.Input {
  width: 80%;
  max-width: 800px;
  background-color: $contrast-color;
  margin: auto;
  padding: 1% 5%;
  box-sizing: border-box;
  @include shadow;
  @include large-screen {
    width: 60%;
  }
}

.InputElement {
  outline: none;
  border: none;
  border-bottom: 5px solid $third-color;
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: 200ms;
  @include large-screen {
    padding-top: 3%;
  }
  &::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  &:focus {
    border-bottom: 5px solid $theme-color;
    &::placeholder {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
  &.Invalid {
    border-bottom: 5px solid rgb(154, 5, 5);
  }
  &.TextArea {
    background-color: $third-color;
    margin: 0;
    resize: none;
    height: 100px;

    margin-bottom: 10px;
    @include large-screen {
      height: 200px;
    }
  }
}

//Portfolio page========================

.Portfolio {
  background-color: $third-color;
  height: auto;
  min-height: 90vh;
  @include large-screen {
    padding-bottom: 100px;
  }
  & .Card {
    background-color: white;
    margin: 2em;
    padding-top: 2em;

    @include shadow;
    & p,
    h2 {
      padding: 0 $page-padding;
      @include p;
    }
    & h2 {
      text-align: center;
      font-size: 32px;
    }
    & a {
      margin-left: 0.4em;
      color: $text-color;
    }
    & img {
      height: auto;
      width: 70%;
    }
    .description {
      text-align: left;
    }
    @include large-screen {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      margin: auto;
      margin-bottom: 20px;

      padding: 10px 20px;
      min-height: 60vh;
      & section {
        width: 40%;
      }
      & .Image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
  }
}
