body {
  text-align: center;
  color: black;
  margin: 0;
  font-family: "Rokkitt", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  font-size: 40pt;
  margin: 0;
}

body h2 {
  font-size: 30pt;
  margin: 0;
  font-weight: normal;
}

.Button {
  cursor: pointer;
  font-family: "Rokkitt", serif;
  background-color: #ededed;
  font-size: 20pt;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 3%;
  margin-top: 7%;
  margin-bottom: 7%;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.289);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.289);
}

.Button:hover {
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.289);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.289);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.Button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.289);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.289);
}

.Nav {
  background-color: white;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.289);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.289);
  z-index: 1000;
}

.Nav a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.625);
  display: inline-block;
  margin-bottom: 10px;
}

.Nav a:after {
  content: "";
  display: block;
  margin: -10px;
  width: 0;
  height: 10px;
  background: #480eb5;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.Nav a:hover:after {
  width: 70%;
}

.Nav a.active {
  color: black;
}

.Main {
  padding: 5%;
  height: 90vh;
}

.Main .Title {
  text-align: left;
  margin-top: 20%;
  -webkit-animation: slide 700ms ease-in-out forwards;
  animation: slide 700ms ease-in-out forwards;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.Main .Background {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 50%;
  z-index: -10;
  background: #babbbf;
}

.Main .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Main .card1,
.Main .card2,
.Main .card3,
.Main .card4 {
  position: absolute;
  top: 45%;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.Main .card1 {
  z-index: 50;
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg, #ededed 8px, transparent 1%) center, linear-gradient(#ededed 8px, transparent 1%) center, #babbbf;
  background-size: 10px 10px;
}

.Main .card2 {
  z-index: 50;
  margin-top: 450px;
  margin-left: -130px;
  width: 200px;
  height: 100px;
  background-image: url("../Assets/Stroke.svg");
}

.Main .card3 {
  margin-top: 460px;
  margin-left: 150px;
  width: 200px;
  height: 100px;
  z-index: 5;
  background-image: url("../Assets/Stroke.svg");
}

.Main .card4 {
  z-index: 150;
  margin-top: 5%;
  width: 200px;
  height: 200px;
  background-image: url("../Assets/logo.svg");
}

.About {
  padding: 5%;
  background-color: #480eb5;
  color: white;
}

.About p {
  text-align: left;
}
/*# sourceMappingURL=Main.css.map */