@import 'variables';

@mixin links {
  text-decoration: none;
  font-weight: bold;
}

@mixin background {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 50%;
  z-index: -10;
  background: $second-color;
}
@mixin shadow {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin hover-shadow {
  -webkit-box-shadow: $hover-shadow;
  -moz-box-shadow: $hover-shadow;
  box-shadow: $hover-shadow;
}

@mixin animated-card {
  position: absolute;
  top: 45%;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  @include large-screen {
    zoom: 1.4;
    top: 30%;
  }
}

// Colors
$bg-color: $third-color;
$dot-color: $second-color;

// Dimensions
$dot-size: 2px;
$dot-space: 10px;
//dot square
@mixin card1 {
  z-index: 2;
  width: 12.5em;
  height: 12.5em;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  @include shadow;
}

//Logo svg
@mixin card4 {
  z-index: 5;
  margin-top: -3em;
  margin-left: 5.5em;
  cursor: pointer;
  width: 12.5em;
  height: 12.5em;
  background-color: $theme-color;
  -webkit-mask-image: url('../Assets/logo.svg');
  mask-image: url('../Assets/logo.svg');
  mask-repeat: no-repeat;
  //pulse animation
  animation: pulse 15s linear forwards infinite;
  @keyframes pulse {
    0% {
      background-color: $theme-color;
    }
    74% {
      background-color: $theme-color;
    }
    75% {
      background-color: $vibrant-color;
    }
    80% {
      background-color: $theme-color;
    }
    100% {
      background-color: $theme-color;
    }
  }
}

//back
@mixin card2 {
  zoom: 2.7;
  z-index: 1;
  margin-top: 12em;
  margin-left: -4em;
  width: 5em;
  height: 5em;
  z-index: 1;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  @include large-screen {
    margin-top: 12.6em;
    width: 8em;
    height: 7em;
  }
}

//stroke
@mixin card3 {
  margin-top: 18em;
  margin-left: 17.8em;
  width: 8em;
  height: 7em;
  z-index: 2;
  background-image: url('../Assets/Stroke.svg');
  @include large-screen {
    zoom: 1.6;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin p {
  text-indent: $indent;
  text-align: left;
  margin-top: 0;
}

@mixin large-screen() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin back-image($image, $size, $position) {
  background-image: url($image);
  background-size: $size;
  background-repeat: no-repeat;
  background-position: $position;
}
