//colors
$text-color: black;
$theme-color: #480eb5;
$second-color: #babbbf;
$third-color: #f7f7f7;
$contrast-color: white;
$shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.289);
$hover-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.289);
//text-mobile
$mobile-regular: 20pt;
$mobile-h1: 40pt;
$mobile-h2: 30pt;
$font: "Rokkitt", serif;

//structure
$page-padding: 5%;
